
        h1{text-decoration-color:rosybrown ; }
        h1{ text-align: center;}
        .ps4{ background-color: blue;} 
        .ntd{ background-color: red;}
        .pc{ background-color: green;}
        img{ display: block;}
        table{ border-color: #1880a3;}
        

